{% extends "base.html" %}

{% block content %}

        <h1>What's going on?</h1>
        <form action="/newpost" method='post'>
            <label>
                Title:
                <input type="text" name='btitle' size="126" {% if btitle %} value='{{ btitle }}' {% endif %}/><br>
            </label>
            {% if terror %}
            <p class='error'>{{ terror }}</p>
            {% endif %}
            <br>
            <label>
                Enter blog post:<br>
                <textarea name="body" rows="6" cols="100" />{% if body %}{{ body }}{% endif %}</textarea>
            </label>
            {% if berror %}
            <p class='error'>{{ berror }}</p>
            {% endif %}
            <br>
            <input type="submit" value='Post Entry' />
        </form>

{% endblock %}